<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-content>
        <!-- Input de email -->
        <ion-input
          [(ngModel)]="email"
          label="Digite seu email"
          labelPlacement="floating"
          type="text"
          required
        ></ion-input>
<!-- Input de Login -->
        <ion-input
        [(ngModel)]="login"
        label="Digite seu login"
        labelPlacement="floating"
        type="text"
        required
      ></ion-input>

        <!-- Input de Senha -->
        <ion-input
          [(ngModel)]="senha"
          label="Digite sua senha"
          labelPlacement="floating"
          type="password"
          required
        ></ion-input>

        <!-- Confirmação de Senha -->
        <ion-input
          [(ngModel)]="confirmarSenha"
          label="Confirme sua senha"
          labelPlacement="floating"
          type="password"
          required
        ></ion-input>

        <!-- Botão de Cadastro -->
        <ion-button expand="block" class="login-button" (click)="cadastrar()">
          Cadastrar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
