

<ion-content>
  <div class="pagebackground">
  <div class="cards">
    <ion-card class="card" color="dark">
      <ion-card-header>
        <ion-card-title color="light">Escolha seu Perfil</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item class="custom-select">
         
          <ion-select [(ngModel)]="selectedProfile" placeholder="Selecione">
            <ion-select-option value="Iniciante">Iniciante</ion-select-option>
            <ion-select-option value="Moderado">Moderado</ion-select-option>
            <ion-select-option value="Avançado">Avançado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    
  </div>


  <div class="ion-text-center">
    <ion-button expand="block" (click)="saveProfile()">Continuar</ion-button>
  </div>
  </div>
</ion-content>
