.background-dark {
    --background: #121212;
    color: #fff;
  }
  
  .info-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .info-container ion-icon {
    font-size: 22px;
  }
  
  .info-container a {
    color: #00b33c;
    text-decoration: none;
  }
  
  .recipe-card {
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 15px;
  }
  
  .recipe-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .recipe-icon ion-icon {
    font-size: 40px;
    color: white;
  }
  
  .recipe-info h3 {
    color: white;
    margin: 0;
    font-size: 16px;
  }
  
  .recipe-info p {
    margin: 0;
    font-size: 12px;
    color: #faf8f8;
  }
  
  .recipe-action {
    font-size: 18px;
    color: #ffffff;
  }
  
  .recipe-balance {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .recipe-balance .saldo-positivo {
    color: rgb(24, 204, 24);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .valor-positivo{color: #12A454}
  
  .edit-icon {
    color: #bcbcbc;
    font-size: 18px;
  }
  
  .edit-icon, .delete-icon {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-icon {
    color: rgb(255, 121, 121);
  }
  
  .edit-icon {
    color: rgb(248, 248, 248);
  }
  

  .recipe-value{display: flex;
    justify-content: space-between;
align-items: center;
color: white;}


.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  color: #ffffff;
}

.total-valor {
  font-size: 1.5rem;
  font-weight: bold;
  color: #12A454
}
