<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/teste">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Planejamentos</ion-title>
    <ion-buttons slot="end" routerLink="/adicionarplanejamentos">
      <ion-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-dark">
  <div class="info-container">
    <ion-icon name="information-circle-outline"></ion-icon>
    <p>
      Aqui estão todos os seus planejamentos. Você pode editá-los ou ajustá-los
      conforme necessário.
      <a href="#">Saiba mais</a>
    </p>
  </div>

  <!-- Lista de Planejamentos -->
  <ng-container *ngIf="planejamentos.length; else semPlanejamentos">
    <ion-card *ngFor="let planejamento of planejamentos; let i = index" class="account-card">
      <div class="account-header">
        <div class="account-icon">
          <ion-icon [name]="planejamento.icon" size="large"></ion-icon>
        </div>
        <div class="account-info">
          <h3>{{ planejamento.nome }}</h3>
          <p>Saldo Atual: R$ {{ planejamento.saldoAtual | number: '1.2-2' }}</p>
          <p>Objetivo: R$ {{ planejamento.saldoObjetivo | number: '1.2-2' }}</p>
         
        </div>
      </div>

       <!-- Barra de Progresso -->
  <div class="progress-container">
    <ion-progress-bar [value]="planejamento.progresso / 100"></ion-progress-bar>
    <div class="progress-text">
      Restam R$ {{ planejamento.restante | number: '1.2-2' }}
    </div>
    <span>{{ planejamento.progresso | number: '1.0-0' }}%</span>
  </div>

      <!-- Ações -->
      <div class="plan-actions">
      
        <ion-button (click)="excluirPlanejamento(i)" fill="clear">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </ng-container>

  <!-- Estado Vazio -->
  <ng-template #semPlanejamentos>
    <div class="empty-state">
      <p>Nenhum planejamento cadastrado ainda. Clique no botão "+" para adicionar um.</p>
    </div>
  </ng-template>
</ion-content>
