.background-dark {
    --background: #121212;
    color: #fff;
  }
  
  .info-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    color: #bcbcbc;
  }
  
  .info-container ion-icon {
    font-size: 22px;
  }
  
  .info-container a {
    color: #00b33c;
    text-decoration: none;
  }
  
  .account-card {
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 15px;
  }
  
  .account-header {
    display: flex;
    align-items: center;
    gap: 10%;
  
   
  }
  
  .account-icon ion-icon {
 
    font-size: 40px;
    color: rgb(47, 189, 57);
  }
  
  .account-info h3 {
    color: white;
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
  }
  
  .account-info p {
    margin: 0;
    font-size: 12px;
    color: #d7d5d5;
  }
  
  .account-action {
    font-size: 18px;
    color: #e1dfdf;
  }
  
  .account-balance {
    color: #e1dfdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .account-balance .saldo-negativo {
    color: red;
    font-weight: bold;
  }
  
  .edit-icon {
    color: #bcbcbc;
    font-size: 18px;
  }


 .plan-actions{display: flex;}
  