
ion-card{ 
  --color: #ffffff;}

  ion-card-subtitle{--color: #ffffff;}

.custom-footer-toolbar {
  --background: #191919; /* Cor de fundo da toolbar */
  --color: #ffffff; /*Cor dos ícones e texto */
  --padding-start: 0; /* Remove padding desnecessário */
  --padding-end: 0; /* Remove padding desnecessário */
  --height: 0px; /* Diminuir a altura do footer */
}

.custom-segment {
  --background: red /* Cor de fundo do segmento */
  --color: #1a237e; /* Cor dos ícones e texto do segmento */
  --indicator-color: #ffffff; /* Cor do indicador ativo */
}

.custom-segment-button {
  --background: transparent; 
   text-transform: none;/* Fundo transparente para os botões */
  --color: #ffffff; /* Cor do texto dos botões */
  --padding: 0; /* Remove padding interno dos botões */
  --border: none; /* Remove borda dos botões */
  display: flex;
  flex-direction: column; /* Organiza ícones e labels em coluna */
  align-items: center; /* Alinha ícones e labels ao centro horizontalmente */
  justify-content: center; /* Alinha ícones e labels ao centro verticalmente **/
}

.custom-icon {
  font-size: 20px; /* Tamanho do ícone diminuído */
}

#wallet{
  background: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Cor do ícone (preta, pode ajustar conforme necessário) */
  padding: 10px; /* Espaço interno para o fundo */
  border-radius: 50%; /* Torna o fundo circular */
  font-size: 24px; /* Ajusta o tamanho do ícone */
}

.account-item{display: flex;
}

.infoaccount{display: flex;
justify-content: space-between;
max-width: 100%;
width: 100%;
align-items: center;
margin-left: 5%;
margin-bottom: 5%;}

.saldo-container {
  display: flex;
  justify-content: space-between; /* Alinha os itens às extremidades */
  align-items: center; /* Centraliza verticalmente */
   /* Fundo vermelho (ajuste conforme necessário) */
  padding: 5px 0px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
}

.saldo {
  font-size: 18px; /* Tamanho do texto do saldo */
  color: white; /* Cor do texto */
}

.icon-visibility {
  font-size: 24px; /* Tamanho do ícone */
  color: white; /* Cor do ícone */
  cursor: pointer; /* Indica que é clicável */
}

.planejamento{margin-top: 4%;
}


ion-card{--background: #1c1b19;}

ion-toolbar{--background: #1d1d1d;
color: #fff;}

ion-item{--background: #1d1d1d;
  color: #fff;}


.background-dark {
  --background: #11110f;
  color: #fff;
}


.buttonuser{--background: transparent;
border: 10px color red;}


.date-selector{--background: #1d1d1d;
display: flex;
justify-content: center;
align-items: center;
text-align: center;}

.balance-container{display: flex;

  align-items: center;
justify-content: center;
gap: 10%;}


.account-summary-card {
  background: #333;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.summary-row {
  display: flex;
  margin: 10px 10px;
  font-size: 14px;
  margin-bottom: 35px;
  text-align: center;
  width: 100%;
  align-items: center;
}


.saldo-negativo {
  color: red; /* Cor para saldos negativos */
}


