<ion-content>
  <div class="pagebackground">
    <div class="login-container">
      <ion-card>
        <ion-card-content>
          <!-- Lista de Inputs -->
          <ion-list lines="full" class="background-dark">
            
            <!-- Login -->
            <ion-item class="custom-input" style="border-bottom: 1px solid white;">
              <ion-label position="stacked" color="light">Usuário</ion-label>
              <ion-input [(ngModel)]="login" placeholder="Digite seu login" type="text" required style="color:white"></ion-input>
            </ion-item>
          
            <!-- Senha -->
            <ion-item class="custom-input" style="border-bottom: 1px solid white;">
              <ion-label position="stacked" color="light">Senha</ion-label>
              <ion-input [(ngModel)]="senha" placeholder="Digite sua senha" type="password" required style="color:white"></ion-input>
            </ion-item>

          </ion-list>
          
          <!-- Botão de Login -->
          <ion-button expand="block" class="login-button" (click)="loginUser()">
            Entrar
          </ion-button>
          
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer color="dark">
  <ion-toolbar class="custom-footer-toolbar">
    <ion-segment class="custom-segment">
      <ion-segment-button value="home" routerLink="/login">
        <ion-icon name="home-outline" color="light" routerLink="/login"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="add" routerLink="/cadastro">
        <ion-icon name="person-add-outline" color="light" routerLink="/cadastro"></ion-icon>
      </ion-segment-button>
      
      <ion-segment-button value="settings" routerLink="/login">
        <ion-icon name="person-outline" color="light" routerLink="/login"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
