<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/planejamentos">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Criar Planejamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-dark">
  <!-- Nome do Planejamento -->
  <ion-item class="input-dark">
    <ion-label position="stacked">Nome do Planejamento</ion-label>
    <ion-input 
      placeholder="Ex: Viagem para o Chile" 
      [(ngModel)]="nomeConta">
    </ion-input>
  </ion-item>

  <!-- Escolha de Ícone -->
  <div class="icon-select-container">
    <ion-label class="input-label">Escolha um Ícone</ion-label>
    <div class="icon-select">
      <ion-button fill="clear" (click)="openIconModal()">
        <ion-icon [name]="selectedIcon || 'add-outline'"></ion-icon>
      </ion-button>
      <span *ngIf="!selectedIcon">Selecione um ícone</span>
      <span *ngIf="selectedIcon">{{ selectedIcon }}</span>
    </div>
  </div>

  <!-- Saldo Atual -->
  <ion-item class="input-dark">
    <ion-label position="stacked">Saldo Atual</ion-label>
    <ion-input 
      type="number" 
      placeholder="Ex: 5000" 
      [(ngModel)]="saldoAtual">
    </ion-input>
  </ion-item>

  <!-- Objetivo do Planejamento -->
  <ion-item class="input-dark">
    <ion-label position="stacked">Objetivo (R$)</ion-label>
    <ion-input 
      type="number" 
      placeholder="Ex: 10000" 
      [(ngModel)]="saldoObjetivo">
    </ion-input>
  </ion-item>

  <!-- Botão Criar Planejamento -->
  <div class="button-container">
    <ion-button 
      expand="block" 
      class="create-account-button" 
      (click)="criarPlanejamento()">
      Criar Planejamento
    </ion-button>
  </div>
</ion-content>

<!-- Modal para Seleção de Ícones -->
<ion-modal [isOpen]="showIconModal" (ionModalDidDismiss)="closeIconModal()" color = dark>
  <ng-template>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Selecione um Ícone</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeIconModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color = dark>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let icon of icons">
            <ion-button fill="clear" (click)="selectIcon(icon)">
              <ion-icon [name]="icon" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
