
ion-header{display: flex;
flex-direction: column;
align-items: center;}

ion-toolbar{--background: #1d1d1d;
  color: #fff;}
  
  ion-item{--background: #1d1d1d;
    color: #fff;}
  

ion-content {
  --background: #1d1d1d; /* Define o fundo para toda a página */
  color: #fff; /* Para que o texto fique legível sobre o fundo escuro */
}




.header {
    display: flex;
    flex-direction: column;
    background: #31313167;
    width: 100%;
    border-radius: 25px;
    height: 188px;
    padding: 32px 20px;
    justify-content: center; /* Alinha o conteúdo no centro verticalmente */

  }

  .bemvindo {
    font-size: 30px; 
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-between; /* Alinha o conteúdo com o espaço entre eles */
    align-items: center; /* Alinha o nome e o botão na linha */
    width: 100%; /* Garante que o espaço entre os itens ocupe toda a largura disponível */
  }
  
  .nome-container {
    display: flex;
    align-items: center; /* Alinha o nome "Rodrigo" e o ícone na vertical */
  }
  
  .saldo {
    color: rgba(252, 252, 252, 0.911);
    margin-top: 20px; /* Espaço entre o nome/ícone e o saldo */
    text-align: left; /* Alinha o texto à esquerda */
  }
  .saldo h1 {
    font-size: 16px;
    font-weight: 600;
  }

  .brl h2{
    color: rgb(255, 255, 255);
    font-size: 16px; 
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  
  .saldomoney h2{
    color: rgb(253, 253, 253);
    font-size: 26px; 
    font-weight: 500; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .saldomoney2 h2{
    color: #12A454;
    font-size: 26px; 
    font-weight: 500; 
    font-family: Arial, Helvetica, sans-serif;
  }

  .saldomoney3 h2{
    color: #E83F5B;
    font-size: 26px; 
    font-weight: 500; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .money{display: flex;
  align-items: center;
 
  gap: 10px;}
  
  .icon-visibility {
    margin-left: 10px; /* Espaço entre o nome e o ícone */
  }

  .cards{




  }
  .card {

    margin: 20px;
    padding: 10px;
    background: #31313167;
    border-radius: 20px;
    border: 1px solid #333; /* Ajuste do contorno para harmonizar com o tema escuro */
    color: #fff; /* Deixe o texto claro para contraste */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adicione um leve sombreamento para profundidade */
  }

  .listadespesas{display: flex;
 align-items: center;
    flex-direction:row;
    gap:6px;
  }

  .listadespesas p{color: #E83F5B}

  .listadespesas span{color: #ffffff}

  .listareceitas{display: flex;
    align-items: center;
       flex-direction:row;
       gap:6px;
     }
   
     .listareceitas p{color: #12A454}
   
     .listareceitas span{color: #ffffff}
  
  .total{display: flex;
    margin-left: 20px;

    height: 40px;
   gap: 10px;
  align-items: center;}

  .iconnome{ display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
  


  .information span{
    font-size: 20px;
    margin-left: 20px;
    
    
  }
  ion-progress-bar {
   
    --progress-background:  #12A454; /* Fundo da barra */
    --background: #a0a0a0; /* Cor do progresso */
    height: 500px;

    margin-right: 10px;
  }

 

    .custom-progress-bar{
        height: 500px;
      
    }

    .planejamento{display: flex;
    flex-direction: column;
    gap: 15px;}
  

    
    .saldomoney {
      h2 {
        transition: color 0.3s ease-in-out; // Smooth color transition
      }
    
      &.positivo h2 {
        color: #12A454// Use a shade of green for positive values
      }
    
      &.negativo h2 {
        color: #E83F5B; // Use a shade of red for negative values
      }
    }
    

    .progress-container {
      display: flex;
      position: relative; /* Permite posicionar o texto sobre a barra */
      width: 100%;
    }
    
    .custom-progress-bar {
      height: 25px;
      border-radius: 8px;
    }
    
    .progress-text {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      color: white; /* Contraste com o fundo */
      font-size: 12px;
    }
    
    .account-info{display: flex;
    flex-direction: column;
  gap: 8px;}