/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


// Alterar a cor do botão primário globalmente
:root {
    --ion-color-primary: #29b63e; /* Cor personalizada */
    --ion-color-primary-contrast: #ffffff; /* Cor do texto em contraste */
  }


  ion-datetime {
    --padding-start: 0px;
    --min-height: 30px;
    --background: transparent !important;
    --color: var(--ion-color-dark); /* Ajusta a cor do texto */
  }
  
  ion-label {
    font-size: 12px; /* Reduz o tamanho do rótulo */
    color: var(--ion-color-medium); /* Define uma cor mais suave */
  }
  


  .dark-alert {
    --background: #ff0000; /* Cor de fundo escura */
    --ion-color-primary: #0a84ff; /* Cor do botão */
    --ion-color-secondary: #ff2d55; /* Cor secundária */
    --ion-color-tertiary: #ffcc00; /* Cor terciária */
  
    /* Cores do texto */
    --ion-text-color: #ffffff; /* Cor padrão do texto */
    --ion-color-light: #ffffff; /* Para texto claro (geralmente usado nos botões) */
    --ion-color-dark: #000000; /* Para texto escuro, se necessário */
  
    /* Especificando para inputs e botões */
    --ion-color-button: #ffffff; /* Cor do texto dos botões */
    --ion-color-input:
    --ion-color-label: #ffffff; /* Cor do texto dos inputs */
  }

  .custom-label{color: white;}

  .containerbody{  --background: #191919;}


  ion-button{ text-transform: none;}

  /* Definindo a fonte globalmente para todo o projeto */
body {
  font-family: 'Inter', sans-serif;
}


  .background-dark{ --background: #11110f;
    color: #fff;}


    .error-message {
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
      color: red; /* A cor vermelha pode ser ajustada conforme preferir */
    }
    

    .modaladd{display: flex;
    justify-content: center;
  align-items: center;
  background-color: red;}