

<ion-content >
 
 <!-- Conteúdo Gansha -->
    <div class = pagebackground> 
           
         
          
    </div>

   
    

  </ion-content>

  


<ion-alert
  id="color-alert"

  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert>

<ion-footer color = dark>
  <ion-toolbar class="custom-footer-toolbar">
    <ion-segment class="custom-segment">
      <ion-segment-button value="home" routerLink ="/login">
        <ion-icon name="home-outline" color = light routerLink ="/login"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="add" routerLink ="/cadastro">
        <ion-icon name="person-add-outline" color = light routerLink ="/cadastro"></ion-icon>
      </ion-segment-button>
      
      <ion-segment-button value="settings" routerLink ="/login">
        <ion-icon name="person-outline" color = light routerLink ="/login"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>